{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="title">Contact</div>

  <p><strong>Address:</strong><br>
    2550 Northwestern Avenue, Suite 1100<br>
    West Lafayette, IN 47906
  </p>

  <div class="mt-3">
    <h3 class="subtitle">Team:</h3>
    <ul class="mt-2" style="list-style: none; padding-left: 0;">
      <li class="mb-2">
        <strong>Christopher Ryan</strong> (Scrum Master)<br>
        <a href="mailto:christopher.ryan@gearshiftsystems.com">christopher.ryan@gearshiftsystems.com</a><br>
        123-456-7890
      </li>
      <li class="mb-2">
        <strong>Patricia Dimaano</strong> (Product Owner)<br>
        <a href="mailto:patricia.dimaano@gearshiftsystems.com">patricia.dimaano@gearshiftsystems.com</a><br>
        123-456-7890
      </li>
      <li class="mb-2">
        <strong>Temen Alsup</strong> (Developer)<br>
        <a href="mailto:temen.alsup@gearshiftsystems.com">temen.alsup@gearshiftsystems.com</a><br>
        123-456-7890
      </li>
      <li class="mb-2">
        <strong>Michael Lyons</strong> (Developer)<br>
        <a href="mailto:michael.lyons@gearshiftsystems.com">michael.lyons@gearshiftsystems.com</a><br>
        123-456-7890
      </li>
      <li class="mb-2">
        <strong>Sabir Mumin</strong> (Developer)<br>
        <a href="mailto:sabir.mumin@gearshiftsystems.com">sabir.mumin@gearshiftsystems.com</a><br>
        123-456-7890
      </li>
    </ul>
  </div>
</div>

{% endblock %}
